<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WORLD CAPITAL GAME</title>
  </head>
  <body>
    <h1>world capitals game</h1>
    <p>
      Select the capital city that correctly matches the country and flag named.
    </p>
    <h3 class="score">CURRENT SCORE: <%= score %></h3>
    <h3 class="alert"><%= alert %></h3>
    <form action="/submit" method="post">
      <h3><%=country%> <%=flag%></h3>
      <% options.forEach((option) => { %>
      <input type="submit" name="answer" value="<%=option%>" />

      <% }) %>
    </form>
  </body>
</html>
